/* general */
body {background-color: black;}
body::-webkit-scrollbar {display: none;}
img {transition: all 1s;}
img:hover {cursor: pointer;}
#logo:hover { cursor: default;}
#logo {height: 90%; z-index: 2;}
.logo_div {z-index: 2;	position: absolute; height: 280px; 
	padding-left: 30px; padding-top: 30px;}
.container {z-index: 1; position: absolute;left: 0px;display: flex;
	flex-wrap: wrap;justify-content: center;width: 100%; 
	top:250px; padding-bottom: 50px;}

/* logo responsive */
@media (max-width: 950px) {
	.logo_div {height: 200px; padding-top: 5px;padding-left: 20px;} 
	.container {top: 200px;}
}
@media (max-width: 767px) {
	.logo_div {height: 180px; padding-top: 1px;padding-left: 10px;} 
	.container {top: 150px;}
}

/* image grid --------------------------------- */

/* wide window (>767px) - 3 images per row */
.img_grid{width: 20vw; height: 20vw; margin-left: 5vw; margin-right: 5vw; margin-bottom: 5vw;}
.img_grid:hover {transform: scale(1.25)}

/* width window <1 times height */
@media screen and (max-aspect-ratio:1/1){	
	.img_grid{width: 25vw; height: 25vw; margin-left: 3vw; margin-right: 3vw; margin-bottom: 6vw;}
	/*body {background-color: purple;}	 testing */
	@media (max-width: 767px) {
		/*body {background-color: orange;}	 testing */
		.img_grid{width: 38vw; height: 38vw; margin-left: 3vw; margin-right: 3vw; margin-bottom: 6vw;}
	}
}

/* width window <1.6 times height */
@media screen and (max-aspect-ratio:8/5) and (min-aspect-ratio:1/1){
	.container {top:250px;padding-left: calc((100vw - 100vh)/2); padding-right: calc((100vw - 100vh)/2); width: 100vh;}
	.img_grid{width: 27vh; height: 27vh; margin-left: 3vh; margin-right: 3vh; margin-bottom: 6vh;}
	.logo_div {padding-left: calc((100vw - 105vh)/2);} 
	/*body {background-color: red;}   testing */
}

/* width window >1.6 times height */
@media screen and (min-aspect-ratio:8/5){
	.container {top:250px;padding-left: calc((100vw - 120vh)/2); padding-right: calc((100vw - 120vh)/2); width: 120vh;}
	.img_grid{width: 23vh; height: 23vh; margin-left: 3vh; margin-right: 3vh; margin-bottom: 6vh;}
	.logo_div {padding-left: calc((100vw - 120vh)/2);} 
	/*body {background-color: green;}	 testing */
}

/* image grid --------------------------------- */