/* general */
body {background-color: rgb(15, 15, 15); overflow-x: hidden;}
body::-webkit-scrollbar {display: none;}
img {transition: all 1s;}
img:hover {cursor: pointer;}
#logo:hover { cursor: default;}

.logo_div {z-index: 2;	position: absolute; width: 100vw; padding-left: 30px; padding-top: 30px;}
.container {z-index: 1; position: absolute;left: 0px;display: flex; flex-wrap: wrap; justify-content: center;width: 100%; top:250px; padding-bottom: 50px;}

/* tab */
.tab {overflow: hidden;width: 265px;top: 225px;left: calc((100vw - 265px)/2);position: absolute;z-index: 50;}
.tab button {float: left;border: none;outline: none;cursor: pointer;transition: 0.3s;font-size: 14px;font-family: 'IBM Plex Mono', monospace; background-color:rgb(0,0,0,0); color: rgb(138, 138, 138)}
.tab button:hover {color: white;}
.tab button.active {color:white;}

/* load more */
.loadmore_spacing{overflow: hidden; width:100%; height: 10px;}
.loadmore {overflow: hidden;}
.loadmore button {width: 100%;float: left;border: none;outline: none;cursor: pointer;transition: 0.3s;font-size: 14px;font-family: 'IBM Plex Mono', monospace; background-color:rgb(0,0,0,0); color: rgb(138, 138, 138)}
.loadmore button:hover {color: white;}
#loadmore_btn {width: 3vw; max-width: 50px; min-width: 27px; opacity: 0.4; transform: rotate(90deg); z-index: 100;}
#loadmore_btn:hover {cursor: pointer; opacity: 0.8;}

/* image grid --------------------------------- */

/* wide window (>767px) - 3 images per row */
.img_grid{width: 20vw; height: 20vw; margin-left: 5vw; margin-right: 5vw; margin-bottom: 5vw;}
.img_grid:hover {transform: scale(1.05)}
#test_div_scal{overflow: hidden;background-color: black;width: 10px; height: 10px; top: 10px;left: 10px;position: absolute;z-index: 100;}

@media (min-width:200px)  { /* < smaller */ 
	.container {top: 165px;padding-left: 2vw; padding-right: 2vw; width: 96vw;}
	.img_grid{width: 46vw; height: 46vw; margin-left: 1vw; margin-right: 1vw; margin-bottom: 2vw;}
	.logo_div {z-index: 2;	position: absolute; height: 55vw; padding-left: calc((100vw - 227px)/2); padding-top: 10px; width: 200px; overflow: visible; height: 40px}
	#logo {width: 100%; z-index: 2;}
	#test_div_scal {background-color: blue;}
	.tab {top: 135px;width: 233px;left: calc((100vw - 237px)/2)}	 
	.tab button {font-size: 12px;}
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
	.container {top: 240px ;padding-left: 2vw; padding-right: 2vw; width: 96vw;}
	.img_grid{width: 46vw; height: 46vw; margin-left: 1vw; margin-right: 1vw; margin-bottom: 2vw;}
	.logo_div {z-index: 2;	position: absolute; padding-left: calc((100vw - 324px)/2); padding-top: 30px; width: 310px; overflow: visible; height: 130px}
	#logo {width: 100%; z-index: 2;}
	#test_div_scal {background-color: orange;}
	.tab {top: 215px;width: 265px;left: calc((100vw - 267px)/2)}
	.tab button {font-size: 14px;}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 	 
	.container {top:252px;padding-left: 2vw; padding-right: 2vw; width: 96vw;}
	.img_grid{width: 46vw; height: 46vw; margin-left: 1vw; margin-right: 1vw; margin-bottom: 2vw;}
	.logo_div {padding-left: calc((100vw - 366px)/2); width: 360px; padding-top: 15px; height: 160px; overflow: visible; } 
	#logo {width: 100%; z-index: 2;}
	#test_div_scal {background-color: purple;}
	.tab {top: 225px;width: 265px;left: calc((100vw - 265px)/2)}	
	.tab button {font-size: 14px;}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	.container {top: 195px;padding-left: 1vw; padding-right: 1vw; width: 98vw;}
	.img_grid{width: 30vw; height: 30vw; margin-left: 1vw; margin-right: 1vw; margin-bottom: 2vw;}
	.logo_div {padding-left: calc((100vw - 284px)/2); width: 280px; padding-top: 5px; height: 150px;overflow: visible; } 
	#logo {width: 100%; z-index: 2;}
	#test_div_scal {background-color: pink;}	
	.tab {top: 170px;width: 265px;left: calc((100vw - 265px)/2)}
	.tab button {font-size: 14px;}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	.container {top:254px;padding-left: 1vw; padding-right: 1vw; width: 98vw;}
	.img_grid{width: 30vw; height: 30vw; margin-left: 1vw; margin-right: 1vw; margin-bottom: 2vw;}
	.logo_div {padding-left: calc((100vw - 384px)/2); width: 380px; padding-top: 5px;height: 180px;overflow: visible; } 
	#logo {width: 100%; z-index: 2;}
	#test_div_scal {background-color: yellow;} 
	.tab {top: 225px;width: 265px;left: calc((100vw - 265px)/2)}
	.tab button {font-size: 14px;}	
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
	.container {top:254px;padding-left: 1vw; padding-right: 1vw; width: 98vw;}
	.img_grid{width: 22vw; height: 22vw; margin-left: 1vw; margin-right: 1vw; margin-bottom: 2vw;}
	.logo_div {padding-left: calc((100vw - 384px)/2); width: 380px; padding-top: 5px;height: 170px;overflow: visible; } 
	#logo {width: 100%; z-index: 2;}
	#test_div_scal {background-color: red;} 
	.tab {top: 225px;width: 265px;left: calc((100vw - 265px)/2);}	
	.tab button {font-size: 14px;}
}
@media (min-width:1281px) { /* laptops and desktops */ 
	.container {top:260px;padding-left: calc((100vw - 1250px)/2); padding-right: calc((100vw - 1250px)/2); width: 1250px;}
	.img_grid{width: 287.5px; height: 287.5px; margin-left: 12.5px; margin-right: 12.5px; margin-bottom: 25px;}
	.logo_div {padding-left: calc((100vw - 384px)/2); width: 380px; padding-top: 5px; height: 210px; overflow: visible; } 
	#logo {width: 100%; z-index: 2;}
	#test_div_scal {background-color: green;}	
	.tab {top: 225px;width: 265px;left: calc((100vw - 265px)/2)}	
	.tab button {font-size: 14px;}
}
@media (min-width:1900px) { /* 1080p displays */ 
	.container {top:260px;padding-left: calc((100vw - 1400px)/2); padding-right: calc((100vw - 1400px)/2); width: 1400px;}
	.img_grid{width: 320px; height: 320px; margin-left: 14px; margin-right: 14px; margin-bottom: 28px;}
	.logo_div {padding-left: calc((100vw - 384px)/2); width: 380px; padding-top: 5px; height: 210px; overflow: hidden; } 
	#logo {width: 100%; z-index: 2;}
	#test_div_scal{background-color: brown;}	
	.tab {top: 225px;width: 265px;left: calc((100vw - 265px)/2)}	
	.tab button {font-size: 14px;}
}

/* image grid --------------------------------- */